<% @editorials.each do |editorial| %>
  <div>
    <%= editorial.name %>
    <% editorial.levels.each do |level| %>
      <div>
        <%= link_to "Nivel: #{level.number}", level_path(level) %>
      </div>
    <% end %>
  </div>
<% end %>
<div class='my-5'>
  <%= link_to 'Agregar nivel', new_level_path %>
</div>

