<h2>Añadir Nivel</h2>

<%= simple_form_for @level, url: {action: "create"}, html: {class: "form add-level"} do |f| %>
  <div>
    <%= f.input :editorial_id, collection: @editorials, prompt: "Selecciona Editorial" %>
    <%= f.input :number, collection: 1..10, prompt: "Selecciona Nivel", label: "Número"%>
  </div>

  <%= f.submit "Crear", class:'btn btn-primary mt-5'%>
<% end %>

