<div class="show-level-div">
  <div class="title-level">
    <h2>Editorial <b><%= @level.editorial.name %></b></h2>
    <h2></h2>
  </div>
  <div class="unit-container">
    <% @level.units.each do |unit|%>
      <div class="square">
        <p class="b-square"> Unidad: <%= unit.number %></p>
        <p class="b-square"> "<%= unit.name %>"</p>
      </div>
    <% end %>
  </div>
  <%= link_to 'Agregar unidad', new_unit_path(level: @level), class:'btn btn-primary mt-5' %>
</div>
