<div>
  <h2 class='mb-2'>Registro de unidad</h2>
  <h2 class='mt-0'>Nivel: <b> <%= @level %> </b> </h2>
</div>
<br>
<div class= "unit-form">
    <%= f.input :name, label: "Nombre" %>
    <%= f.input :number, label: "Número"%>
    <%= f.input :level_id, as: :hidden, input_html: { value: @level }%>
<div>

