- questions.each do |question|
  .row.container-q.border-bottom
    .col-9.question= question.content
    .col-3.opciones
      = link_to 'Ver', multiple_question_path(question)
      = link_to 'Editar', edit_multiple_question_path(question)
      = link_to 'Eliminar', multiple_question_path(question), method: :delete
