<div class= 'title'>
  <h1>Pregunta #</h1>
  <p id="show">Nivel X Unidad X</p>
</div>

<div class="content-show">
  <p>Descripción: <%= @question.content %></p>

  <div class="cont-op">
    <% @question.options.each do |option| %>
      <p class="option<%= ' correct' if option.correct %>">Opción: <%= option.content %></p>
    <% end %>
  </div>
  <div class ="links-op">
    <a href=#> Editar </a>
    <a href=#> Regresar </a>
  </div>
</div>

