.index-certificates-div {

  .certificates {
    display: flex;

    .center-btn-div {
      text-align: center;
    }

    .cert-table {
      max-height: 300px;
      margin-bottom: 20px;
      overflow-y: scroll;
    }
  
    .links {
      align-items: center;
      align-content: center;
      display: flex;
      flex-direction: column;
    }
  
    .options {
      display: flex;
      justify-content: space-evenly;
    }

    .to-print-table {
      max-height: 500px;
      overflow-y: scroll;
    }
  }

  h5 {
    text-align: center;
    margin: 1vw;
  }
}

.new-certificate-div{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2vw 15vw;

  .new-buttons {
    align-items: center;
    display: flex;
    flex-direction: column;

    .btn{
      margin-top: 1vw;
    }
  }
}

.pdf-certificate-div {
  text-align: center;

  .firms {
    margin-bottom: 30px;

    .employee-data {
      margin-bottom: 20px;

      .name {
        font-size: 22px;
      }
      
      hr, p {
        margin: 5px;
      }
    }
  }

  p {
    font-size: 30px;
  }

  h5 {
    font-size: 40px;
  }

  .font-small {
    font-size: 22px;
  }
}

.pdf-body {
  height: 600px;
  padding: 50px 100px 0; 
}

.pdf-footer {
  height: 80px;
  background-color: $softblue;
  bottom: 0;
}

.pdf-nav {
  height: 80px;
  background-color: $softblue;
}

.pdf-send-btn-div {
  display: flex;
  justify-content: space-around;
  margin: 0 3vw;
  width: 50vw;
}

.show-certificate-div {
  align-items: center;
  display: flex;
  flex-direction: column;
}
