.new-question {
  margin: 5vw;

  .input {
    display: flex;
    margin-bottom: 5vw;
  }

  label {
    margin-right: 5vw;
    margin-bottom: 0;
  }

  .question {
    margin: 5vw;

    p {
      font-weight: 500;
    }
  }
}

.attach-file {
  margin-bottom: 5vw;
}

h1 {
  font-size: 25px;

  @media (min-width: 700px){
    font-size: 35px;
  }
}
