.b-square {
  color: $redtec;
  font-size: 22px;
}

.custom-container {
  align-items: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 700px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  a.square {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 10vw;
    height: 60vw;
    justify-content: space-around;
    margin: 10vw;
    padding: 10px;
    text-align: center;
    width: 60vw;

    @media (min-width: 700px) {
      height: 22vw;
      margin: 3vw;
      margin-bottom: 0;
      padding: 10px;
      width: 22vw;
    }

    @media (min-width: 1200px) {
      height: 280px;
      width: 280px;
    }

    img.icon {
      height: 11vw;

      @media (min-width: 700px) {
        height: 4vw;
      }
    }
  }
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3vw;
}

.icons {
  justify-content: space-between;
  width: 25vw;

  @media (min-width: 700px){
    display: flex;
    width: 10vw;
  }
}

a.square {
  background-color: $softyellow;
}

a.square:hover {
  text-decoration: none;

  p {
    color: $bluetec;
  }
}
