// Place all the styles related to the editorial controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: 700px){
    .editorial{
        margin-top: 6vw;
    }
}

.links-edi{
    display: flex;
    justify-content: center;
    margin-top: 5vw;
}

.container-new-edit{
    display: flex;
    flex-direction: column;
    margin-top: 6vw;
    align-items: center;
}

.input{
    display: flex;
    height: 100%;
    width: 40vw;
    margin-bottom:1vw;
    font-size: 2vw;
    justify-content: space-around;
    flex-direction: row;
}

.title-ed{
    font-size: 3.5vw;
    width: 30vw;
    text-align: center;
    margin-bottom: 5vw;
}

.title-ed-reg{
    margin-bottom: 2vw;
}


