
.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-login{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.field{
    margin: 20px 0;
    
}

.actions{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
