// Place all the styles related to the multipleQuestions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .input {
    display: flex;
    flex-direction: row;
    font-size: 1.5vw;
    width: 40vw;
    align-items: center;
    border-color: black;
  }

  h3 {
    margin-top: 3vw;
  }
}

.new-form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  // width: 40vw;
  margin-top: 5vw;
  flex-wrap: wrap;
  text-align: center;
}

.col-3 {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.form {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 5vw;
  text-align: center;
}

h3 {
  margin-top: 5vw;
  text-align: center;
}

p#show {
  text-align: center;
  font-size: 3vw;
  margin-bottom: 5vw;
}

#options {
  flex-wrap: wrap;
  width: 35vw;
  margin-bottom: 2vw;

  .nested-fields {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 2vw;
    margin-bottom: 1vw;

    .form-control {
      width: 25vw;
      margin-right: 4vw;
    }
  }

  .links {
    align-content: right;
  }
}

.option {
  align-self: center;
  justify-content: flex-start;
  width: auto;
  padding: 0.5vw;
}

.correct {
  border: green;
  border-style: solid;
  border-width: 1px;
  border-radius: 5%;
}

.content-show {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 20px;
}

.links-op {
  margin-top: 5vw;
  font-size: 25px;
  font-weight: 400;
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8vw;
  width: 80vw;
  justify-content: space-around;
}

.container-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#unit_unit_id,
#editorial_editorial_id,
#level_level_id,
.add-question {
  font-size: 1.5rem;
}

.add-question {
  margin-left: 5vw;
}

#multiple_question_unit,
#comprehension_question_unit_id {
  font-size: 1.5rem;
}

.level-units-dropdown-container {
  width: 15vw;
  align-items: center;
  display: flex;
}

.btn-return-div {
  text-align: center;
}
