// Place all the styles related to the period controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-new-period{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1#newperiod{
    margin-bottom: 2vw;
}

.submit{
    margin-top: 2vw;
}
.b{
    margin-top:2vw;
    font-size: 1.5vw;
}
.act-period{
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        margin:0px;
        margin-top: 2vw;
    }
    h2{
        margin:0px;
        margin-top: 2vw;
    }
}