#options {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2vw;

  .nested-fields {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 2vw;
    margin-bottom: 1vw;

    .form-control {
      width: 25vw;
      margin-right: 4vw;
    }
  }

  .links {
    align-content: right;
  }
}

.option {
  align-self: center;
  justify-content: flex-start;
  width: auto;
  padding: 0.5vw;
}

.correct {
  border: green;
  border-style: solid;
  border-width: 1px;
  border-radius: 5%;
}

.content-show {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-questions {
  display: flex;
  justify-content: space-evenly;
  margin: 40px;

  .show-registered {
    padding: 10px;
    
    .questions {
      height: 500px;
      overflow-y: scroll;

      .question {
        border-radius: 20px;
        box-shadow: 0px 0px 8px -5px $blue;
        margin-bottom: 10px;
        padding: 10px;

        .options {
          display: flex;
          justify-content: center;
        }
  
        ul {
          margin: 0;
          padding: 0;
  
          li {
            font-size: 10px;
            list-style: upper-latin;
            margin-left: 20px;
            padding: 0;
          }
        }  
      }        
    }

    h5 {
      color: $blue;
      margin-bottom: 20px;
    }
  }

  #new_multiple_question {
    margin: 0 60px;

    .question-btns {   
      align-items: center; 
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.title {
  margin-top: 30px;
}