$('.level-units-dropdown-container').html('#{j render partial: 'editorial_levels/unit_dropdown', locals: { units: @units }}')
$('.questions-container').html('#{j render partial: 'multiple_questions/questions', locals: { questions: @questions }}')
