<h1 class="title-ed-reg">Editoriales registradas</h1>
<% @editorials.each do |editorial| %>
  <div class='row container-q border-bottom'>
   <div class='col-9 question'><%=editorial.name %></div>
    <div class='col-3 opciones'>
      <%= link_to 'Ver'%>
      <%= link_to 'Eliminar'%>
    </div>
    </div>
<% end %>
