<h1 class="title-ed-reg">Editoriales registradas</h1>

<% @editorials.each do |editorial| %>
  <div class='row container-q border-bottom w-auto'>
    <div class='col-9 question'><p class='m-0 text-left'><%= editorial.name %></p></div>
    <div class='col-3 opciones'>
      <%= link_to 'Ver'%>
      <%= link_to 'Eliminar'%>
    </div>
  </div>
<% end %>


<%= link_to 'Nueva Editorial', new_editorial_path, class:'btn btn-primary'%>
