<div class="nested-fields d-flex justify-content-center align-items-center my-3">
  <%= radio_button_tag 'correct_answ', f.index, f.object.correct, class: 'mr-3' %>
  <%= f.text_field :content, class:'form-control', style: 'width: 50%;' %>
  <%= link_to_remove_association "x", f ,class:'x red ml-3'%>
</div>
