nav {
  background-color: $yellow;
  color: $chocolate;
  margin: 0;
  img {
    height: 40px;
    margin-right: 10px;
    width: 40px;
  }
  a {
    align-items: center;
    color: $chocolate;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: flex-start;
    margin: 0;
    &:hover,
    &:active,
    &:focus {
      color: $redtec;
      text-decoration: none;
      outline: none;
    }
  }
}
