$black: #000;
$redtec: #ea411d;
$yellowtec: #fadb01;
$bluetec: #3947c2;
$softred: #ff8888;
$softyellow: #fff085;
$softblue: #badbff;
$yellow: #e0ce6a;
$chocolate: #4b4737;
$beige: #b0ab99;
$light-blue: #00cabc;
$blue: #009287;
