$('.editorial-levels-dropdown-container').html('#{j render partial: 'level_dropdown', locals: { levels: @levels }}')
$('.level-units-dropdown-container').html('#{j render partial: 'unit_dropdown', locals: { units: @units }}')
$('.questions-container').html('#{j render partial: 'multiple_questions/questions', locals: { questions: @questions }}')
