<div class="show-certificate-div mt-4">
  <h1> Constancia de nivel de inglés </h1>
  <h2> Vista previa </h2>
  <%= render 'certificate' %>
  <div class="pdf-send-btn-div">
    <%= link_to 'Regresar', certificates_path, class: 'btn btn-primary my-3'%>
    <%# <%= link_to 'Editar', edit_certificate_path, class: 'btn btn-primary mt-5'%>
    <%= link_to 'Enviar certificado PDF', certificate_path(@certificate, format: :pdf), class: 'btn btn-primary my-3', target: :blank %>
  </div>
</div>
