<h2 class='my-3'> Exámenes generados </h2>
<% if @exams.present? %>
  <%= render partial: 'exam', collection: @exams %>
<% else %>
  <p class="red">No hay exámenes registrados</p>
<% end %>
<%= link_to 'Generar examen', new_student_path,class: 'btn btn-primary' %>
