<%= simple_form_for @question, url: {action: "update"}, html: {class: "form"} do |f| %>
  <%= render partial: 'form', locals: { f: f } %>

  <%= f.submit "Actualizar", class: 'btn btn-outline-primary' %>
<% end %>
<br>
<div class="btn-return-div">
  <%= link_to 'Regresar', comprehension_questions_path, class: "btn btn-outline-primary" %>
</div>
<br>