<div class='container-fluid'>
  <div class='title'>
    <h2 class='mt-3'>Preguntas de comprensión lectora</h2>
    <%= render 'shared/filters' %>
  </div>
  <div class='questions-container mt-5'>
    <%= render partial: 'questions', locals: { questions: @questions } %>
  </div>
  <input id='compreh_quest' type="hidden" value=true>
</div>
