<div class='container-fluid'>
  <div class='title'>
    <h2>Preguntas de comprensión lectora</h2>
    <%= render 'shared/filters' %>
  </div>
  <div class='questions-container'>
    <%= render partial: 'questions', locals: { questions: @questions } %>
  </div>
  <input id='compreh_quest' type="hidden" value=true>
</div>
